h1{
    font-family: Georgia, serif;
    text-align: center;
}
h2{
    font-family: Georgia, serif;
    text-align: justify;
}
body{
    background-color: lightgray;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}